// main: style.scss

/* Page: 404
------------------------------*/
.error-404 {
	.search-form, .widget {
		margin-bottom: 40px;
	}
	.widgettitle, .widget-title {
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 13px;
		font-weight: 700;
	}
	ul {
		padding-left: 0px;
		li {
			list-style: none;
		}
	}
}

/* Page: Search
------------------------------*/
.search-results {
	.hentry {
		border-bottom: 1px solid $border;
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
	.entry-summary p {
		margin-bottom: 0px;
	}
	.entry-header .entry-title {
		font-size: 22px;
		line-height: 1.5;
		font-weight: 500;
		a:hover{
			text-decoration: none;
		}
	}
}


/* Entry Header
------------------------------*/
.entry-header .entry-title {
	font-weight: 500;
	text-transform: none;
	letter-spacing: -0.6px;
	font-family: $font_text;
	font-size: 25px;
	line-height: 1.3;
	@include for(medium-screens) {
		font-size: 32px;
		line-height: 1.5;
	}
}

.single .entry-header .entry-title {
	margin-bottom: 10px;
}

.highlight {
	color: $primary;
}

/* Entry Content
------------------------------*/
.entry-content {
	margin-bottom: 30px;

	blockquote {
		padding: 30px;
		position: relative;
		background: $meta;
		border-left: 3px solid $primary;
		font-style: italic;
		p {
			margin: 0px;
		}

	}
}

/* Entry Stuff
------------------------------*/
.entry-meta {
	margin-bottom: 30px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 12px;
	font-weight: 600;
	padding-bottom: 30px;
	border-bottom: 1px solid $border;
}

.entry-footer {
	margin-bottom: 30px;
	padding-top: 30px;
	border-top: 1px solid $border;
	.cat-links, .tags-links {
		display: block;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-size: 12px;
		font-weight: 600;
		margin-top: 5px;
	}
}

.nav-links {
	padding: 30px 0px;
	border-left: none;
	border-right: none;
	margin-bottom: 50px;
	@extend .clearfix !optional;;
	.nav-previous {
		float: left;
	}
	.nav-next {
		float: right;
	}
	a {
		background: #cccccc;
		color: #FFFFFF;
		padding: 12px 20px;
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-radius: 2px;
		&:hover {
			background: $primary;
			text-decoration: none;
		}
	}
}

.bypostauthor {
	margin: 0;
}

/* Sticky Post
------------------------------*/
.sticky .entry-title {
	padding-left: 20px;
	position: relative;
	&:after {
		content: "\f276";
		display: inline-block;
	    font-family: "FontAwesome";
	    font-style: normal;
	    font-weight: normal;
		width: 12px;
		height: 12px;
		position: absolute;
		left: 0px;
		top: 2px;
		font-size: 22px;
		color: #aaaaaa;
	}
}

/* WordPress caption style
------------------------------*/
.wp-caption {
	max-width: 100%;
	font-style: italic;
	line-height: 1.35;
	margin-bottom: 15px;
	margin-top: 5px;
	img[class*="wp-image-"] {
		display: block;
		max-width: 100%;
	}
	.wp-caption-text {
		margin: 10px 0px;
	}
}

.wp-caption-text,
.entry-thumbnail-caption,
.cycle-caption {
	font-style: italic;
	line-height: 1.35;
	font-size: 13px;
}

/* WordPress Gallery
------------------------------*/

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}

/* Comments
------------------------------*/
#comments {
	padding-top: 30px;
	border-top: 1px solid $border;
	.comments-title {
		margin-bottom: $base;
		font-size: 18px;
		line-height: 26px;
	    letter-spacing: 1.5px;
	    text-transform: uppercase;
	}
	.comment-list {
		list-style: none;
		padding-left: 0px;
		.pingback {
			border-bottom: 1px solid $border;
			padding: $base 0;
			margin: 0;
			p { margin : 0px;}
		}
		.pingback:last-child {
			margin-bottom: $base*2;
		}

	}
	.comment-content.entry-content {
		margin-bottom: 0px;
	}
	.comment {
		list-style: none;
		margin: $gutter2 0;
		.avatar {
			width: 60px;
			float: left;
			@include border-radius( 3px );
		}
		.comment-wrapper {
			margin-left: $gutter2*3 ;
			padding: ($gutter2 - 5) $gutter2 $gutter2/2 $gutter2;
			background: #f8f9f9;
			position: relative;
			&:before {
				border-color: rgba(0, 0, 0, 0) #f6f7f9 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
			    border-style: solid;
			    border-width: 0 10px 10px 0;
			    content: "";
			    height: 0;
			    left: -9px;
			    position: absolute;
			    top: 0;
			    width: 0;
			}
			.comment-meta .comment-time, .comment-meta .comment-reply-link, .comment-meta .comment-edit-link {
				color: #aaaaaa;
				text-transform: uppercase;
				letter-spacing: 0.3px;
				font-size: 11px ;
				&:hover {
					color: $primary;
				}
				&:after {
					content: "/";
					padding: 0px 5px;
				}

			}
			.comment-meta a:last-child {
				&:after {
					content: "";
				}
			}
			.comment-meta cite .fn {
				font-weight: bold;
				font-style: normal;
				margin-right: 5px ;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				font-size: 14px;
			}
			.comment-meta cite span {
				padding: 3px 10px;
				background: $border;
				@include border-radius(4px);
				margin-right: 10px;
			}
			a {
				text-decoration: none;
			}
		}
		.children {
			padding-left: $gutter2*1;
			.children {
				padding-left: $gutter2*1;
				.children {
					padding-left: 0px;
				}
			}
		}
		@include for(medium-screens) {
			.children {
				padding-left: $gutter2*3;
				.children {
					padding-left: $gutter2*3;
					.children {
						padding-left: $gutter2*3;
					}
				}
			}
		}

	}
	.form-allowed-tags {
		display: none;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.right-sidebar .comment-respond textarea,
.left-sidebar .comment-respond textarea {
	width: 100%;
}
/* Comment Form
------------------------------*/
#respond {
	padding-top: $base;
	.comment-form label {
		display: block;
		margin-bottom: 4px;
	}
	.form-allowed-tags {
		font-size: 12px;
		code {
			background: none;
		}
	}
	.comment-reply-title {
		font-size: 18px;
		letter-spacing: 1.5px;
	    margin-bottom: 20px;
	    text-transform: uppercase;
	}
	.comment-notes {
		display: none;
	}
	label {
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
}

.full-screen .comments-area {
	max-width: $grid;
	margin: 0 auto;
}

/* woocommerce
------------------------------*/
.woocommerce div.product form.cart .variations td.label {
	color: #777;
}
