// main: style.scss

/* OnePress Plus */
.parallax-window section {
	z-index: 10;
	position: relative;
	background: transparent !important;
}
.parallax-window .parallax-mirror::before{
	content:  " ";
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px; display: block;
	z-index: 2;
}
.video-section {
	position: relative;
	z-index: 1;
	width: 100%;
	overflow: hidden;
}
.video-section section {
	position: relative;
	z-index: 4;
	background: transparent;
}
.onepage-section {
	position: relative;
}
.onepage-section:before {
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px; display: block;
	content: " ";
	z-index: 1;
}
.onepage-section .container {
	position: relative;
	z-index: 5;
}
.video-section .fill-width {
	position: absolute;
	bottom: 0px;
	width: 100%;
	display: block;
	z-index: 3;
}

.gmap_marker {
    padding: 15px;
    h4 {
        font-weight:500;
        margin-bottom: 0px;
    }
    p {
        margin: 10px 0px 0px;
    }
}
