// main: style.scss

#primary {
	padding-bottom: $base*2;
	padding-top: $base*2;
}
.template-fullwidth-stretched, .siteorigin-panels {
    #primary {
        padding: 0;
    }
    .entry-content {
        margin-bottom: 0px;
    }
}

#secondary {
	padding-bottom: $base*2;
	padding-top: 0;
	@include for(medium-screens) {
		padding-top: $base*2;
	}
}

.content-area {
	width: 100%;
	float: none;
	@include for(medium-screens) {
		float: left;
	}
}
.sidebar {
	width: 100%;
	float: none;
	@include for(medium-screens) {
		width: percentage( 280px / $grid ); // 300px
		float: left;
	}
}

.no-sidebar .content-area {
	width: 100%;
}

@include for(medium-screens) {
	.left-sidebar .content-area {
		float: right;
		padding-left: 39px;
		border-left: 1px solid $border;
		margin-right: 1px;
		width: percentage( 830px / $grid ); //680px
	}

	.left-sidebar .sidebar {
		padding-right: 39px;
		border-right: 1px solid $border;
		margin-right: -1px;
	}

	.right-sidebar .content-area {
		padding-right: 39px;
		border-right: 1px solid $border;
		width: percentage(830px / $grid ); //680px
	}

	.right-sidebar .sidebar {
		padding-left: 39px;
		border-left: 1px solid $border;
		margin-left: -1px;
	}
}

/**
Footer widgets
 */
.footer-widgets  {
    background: #050505;
    &.section-padding {
        @include rem('padding', 70px 0px 35px);
    }
    table {
        border-collapse: collapse;
        > thead > tr > th,  > thead > tr > td {
            border-width: 1px;
        }
        th, td {
            border-color: rgba( 233, 233, 233, .4);

        }
    }
    .widget-title {
        color: #ffffff;
    }
    .widget-area .widget_categories li, .widget-area .widget_archive li, .widget-area .widget_meta li {
        width: 100% !important;
        float: none;
    }
    .widget_recent_entries ul li,
    .widget_recent_comments ul li{
        border-bottom: 0px none;
        padding: 5px 0px;
        margin-bottom: 0px;
    }
    .sidebar {
        .widget {
            margin-bottom: 30px;
        }
    }

}
