// main: style.scss

/* Header
------------------------------*/
.site-header {
  line-height: 75px;
  position: relative;
  width: 100%;
  background: #FFFFFF;
  z-index: 99;
  -webkit-transition: all 1s ease-out; /* Safari */
  transition: all .5s ease-out;
}
.site-header-wrapper {
  display: block;
}

.no-sticky-header.header-transparent .site-header{
  #nav-toggle {
    span {
      background-color: #ffffff;
      &::before, &::after {
        background-color: #ffffff;
      }
    }
    &.nav-is-visible {
      span {
        background-color: transparent;
      }
    }
  }
}

.header-transparent .no-scroll .site-header{
  background: transparent;
  position: fixed;
  #nav-toggle {
    span {
      background-color: #ffffff;
      &::before, &::after {
        background-color: #ffffff;
      }
    }
    &.nav-is-visible {
      span {
        background-color: transparent;
      }
    }
  }
}
@include for(large-screens) {
  .header-transparent .no-scroll .site-header {
    .onepress-menu > li > a {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

.no-sticky-header.page-template-template-frontpage.header-transparent .site-header{
  background: transparent;
  position: absolute;
}

.site-header.header-fixed {
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
}

.sticky-header #page > .site-header, .sticky-header .header-fixed {
  position: fixed;
}
.sticky-header .header-fixed {
  top: 0px;
  left: 0px;
}

.header-transparent .hero-slideshow-fullscreen .hero__content {
  @include rem('padding-top', 50px);
}

.site-branding {
  float: left;
}

.site-branding {
  .site-title, .site-text-logo {
    margin: 0px;
    line-height: 1;
    font-family: $font_heading;
    font-size: 23px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    display: initial;
    vertical-align: middle;
    font-weight: 600;
    &:hover {
      text-decoration: none;
    }
  }
  .site-title {
    display: inline-block;
  }
  .site-image-logo {
    display: block;

  }
  .site-logo-div {
    line-height: 75px;
  }

  .no-logo-img.has-desc, .has-logo-img{
    line-height: 60px;
    .site-title {
      margin-top: -5px;
      position: relative;
    }
    .site-description {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 0;
      position: relative;
      top: -15px;
    }
  }
}
.home.header-transparent .no-scroll {
  .site-brand-inner, .site-text-logo {
    color: #fff;
  }
}

.header-social {
  margin-left: 0px;
  @include for(medium-screens) {
    margin-left: 10px;
  }
  @include for(screens-tiny) {
    display: none;
  }
  a {
    display: block;
    height: 100%;
    float: left;
    margin-left: 0px;
    margin-top: -2px;
    @include for(medium-screens) {
      margin-left: 3px;
    }
    color: $primary;
    &:hover {
      color: #000000;
      transition: all 0.2s linear 0s;
    }
  }
  float: right;
  // .fa-stack {
  //     position: relative;
  //     display: inline-block;
  //     width: 2em;
  //     height: 2em;
  //     line-height: 2em;
  //     vertical-align: middle;
  // }
  .fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .fa-stack-1x { line-height: inherit;}
  .fa-stack-2x { font-size: 2em; }
  .fa-inverse { color: #FFFFFF; }
}

.header-btn {
  float: right;
}

/* Site Navigation */
.onepress-menu, .onepress-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
// Essential Styles
.onepress-menu {
  float: right;
  @extend .clearfix !optional;
  ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  ul ul {
    top: 0;
    left: 100%;
  }
  li {
    position: relative;
  }
  > li {
    float: left;
  }
  li:hover > ul,li.sfHover > ul {
    display: block;
  }
  a {
    display: block;
    position: relative;
  }
}
// Skin
.onepress-menu {
  ul {
    min-width: 12em; // allow long menu items to determine submenu width
    *width: 12em;    //no auto sub width for IE7, see white-space comment below
    border: 1px solid $border;
    border-top: none;
  }
  li {
    white-space: nowrap;  // no need for Supersubs plugin
    *white-space: normal; // ...unless you support IE7 (let it wrap)
    -webkit-transition: background .2s;
    transition: background .2s;
  }
  li:hover,
  li.sfHover {
    // only transition out, not in
    -webkit-transition: none;
    transition: none;
  }

  a {
    color: #333333;
    font-family: $font_heading;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    zoom: 1;
    letter-spacing: 1px;
    &:hover {
      color: $primary;
    }
  }
  ul li {
    line-height: 26px;
    a {
      border-top: 1px solid $border;
      padding: 8px 18px;
      color: #999999;
      font-size: 13px;
      text-transform: none;
      background: #ffffff;
      letter-spacing: 0;
      &:hover {
        color: $primary;
      }
    }
  }

  li.onepress-current-item > a {
    color: $primary;
  }

  ul li.current-menu-item > a {
    color: $primary;
  }

  // Hover & Active
  > li:last-child > a {
    padding-right: 0px;
  }

  > li:hover > a {

  }
  // > li.current-menu-item, > li.current-menu-ancestor {
  //     > a {
  //         color: $primary;
  //     }
  // }
  > li a.menu-actived {
    color: $primary;
  }
  .nav-toggle-subarrow {
    display: none;
  }
}

// Responsive Mobile Navigation
#nav-toggle {
  display: none;
  margin-left: 15px;

}
@include for(screens-large) {
  .main-navigation {
    position: static;
  }
  .main-navigation .onepress-menu {
    width: 100% !important;
    display: none;
  }
  .onepress-menu.onepress-menu-mobile {
    display: block !important;
    position: absolute;
    top: 75px;
    right: 0;
    width: 100%;
    background: transparent;
    z-index: 100;
    border-bottom: 1px solid $border;
    > li > a {
      padding: 12px 20px;
    }
    li:hover ul {
      display: none;
    }
    ul {
      box-shadow: none;
      padding-bottom: 0;
      border: none;
      position: relative;
      li:last-child {
        border-bottom: none;
      }
      li a {
        padding: 12px 35px;
        border-top: none;
        &:hover {
          background: transparent;
        }
      }
      li li a {
        padding: 12px 70px;
        border-top: none;
      }
      li li li a {
        padding: 12px 105px;
      }
      ul {
        left: 0px;
      }
    }
    > li > a {
      //padding-left: 20px;
    }
    li {
      line-height: 20px;
      background: #FFFFFF;
      border-top: 1px solid $border;
      width: 100% !important;
    }
    // li.current-menu-item {
    //     > a {
    //         color: $primary;
    //         background: #FFFFFF;
    //     }
    // }
    li.onepress-current-item {
      > a {
        color: $primary;
      }
    }
    a {
      color: $text;
      &:hover {
        color: #000000;
      }
    }
    .nav-toggle-subarrow {
      display: block;
      color: #999999;
      border-left: 1px solid $border;
      font-weight: normal;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      text-align: center;
      padding: 11px 20px;
      z-index: 10;
      font-size: 22px;
    }
    .nav-toggle-dropdown > .nav-toggle-subarrow .fa-angle-down:before {
      content:"\f106" !important;
    }
    .nav-toggle-dropdown > ul{
      display: block !important;
    }


  }
  #nav-toggle {
    display: block;
  }


}

// Mobile Navigation Toggle
#nav-toggle {
  float: right;
  position: relative;
  width: 35px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  span {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
    -webkit-transition: rotate 0.2s, translate 0.2s;
    -moz-transition: rotate 0.2s, translate 0.2s;
    transition: rotate 0.2s, translate 0.2s;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #000000;
    &:before {
      top: -8px;
    }
    &:after {
      top: 8px;
    }
    &:before, &:after {
      position: absolute;
      display: inline-block;
      height: 3px;
      width: 24px;
      background: #000000;
      content: '';
      right: 0;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-origin: 0% 50%;
      -moz-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
      -o-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      transition: transform 0.2s;
    }
  }
}

#nav-toggle.nav-is-visible span {
  background: transparent;
  &:before {
    -webkit-transform: translateX(4px) translateY(-1px) rotate(45deg);
    -moz-transform: translateX(4px) translateY(-1px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-1px) rotate(45deg);
    -o-transform: translateX(4px) translateY(-1px) rotate(45deg);
    transform: translateX(4px) translateY(-1px) rotate(45deg);
  }
  &:after {
    -webkit-transform: translateX(4px) translateY(0px) rotate(-45deg);
    -moz-transform: translateX(4px) translateY(0px) rotate(-45deg);
    -ms-transform: translateX(4px) translateY(0px) rotate(-45deg);
    -o-transform: translateX(4px) translateY(0px) rotate(-45deg);
    transform: translateX(4px) translateY(0px) rotate(-45deg);
  }
  &:before, &:after {
    background: #000000;
  }
}

/* Content
------------------------------*/
.site-content {
  border-top: 1px solid $border;
  margin-top: -1px;
  //padding-top: 74px;
}
.blog .site-content,
.single-post .site-content {
  margin-top: 0;
}

.site-content.no-border {
  border-top: none;
}

.page-header {
  padding: 30px 0px;
  border-top: 1px solid $border;
  background: #f8f9f9;
  border-bottom: 1px solid $border;
  .entry-title, .page-title {
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  p {
    margin: 6px 0px 0px 0px;
  }
}


/* Footer
------------------------------*/
.site-footer {
  background: #111111;
  color: #BBBBBB;
  font-size: 14px;
  a {
    color: $primary;
    &:hover {

    }
  }
  .footer-connect {
    padding: 90px 0px;
    @include rem('padding', 80px 0px);
    text-align: center;
    @include for(screens-medium) {
      //@include rem('padding', 40px 0px);
    }
    @include media-breakpoint-down(sm) {
      .footer-subscribe {
        margin-bottom: 40px;
      }
    }
    .follow-heading {
      color: #FFFFFF;
      margin-bottom: 20px;
      letter-spacing: 0.8px;
    }
    .subs_input {
      background-color: rgba(255, 255, 255, .145);
      color: #cccccc;
      border-bottom: none;
      box-shadow: none;
      padding: 12px 15px 12px;
      border-radius: 2px;
      width: 60%;
      font-size: 13px;
      &:focus {
        border: none;
      }
      @include for(screens-large) {
        width: 100%;
        margin-bottom: 4px;
      }
      @include for(screens-medium) {
        width: 70%;
        margin-bottom: 4px;
      }
      @include for(screens-small) {
        width: 100%;
        margin-bottom: 4px;
      }

    }

    .subs-button {
      margin: 0px;
      position: relative;
      top: 0px;
      padding: 16px 23px 16px;
      @include for(screens-large) {
        width: 100%;
      }
      @include for(screens-medium) {
        width: 70%;
      }
      @include for(screens-small) {
        width: 100%;
      }
    }

    input[type="text"]:focus {
      border: none !important;
    }
  }
  .footer-social {
    text-align: center;
    a {
      font-size: 30px;
      margin: 0px 13px;
      color: #FFFFFF;
      &:hover {
        color: $primary;
      }
    }
  }
  .site-info {
    position: relative;
    text-align: center;
    padding: 35px 0px;
    background: #222222;
    font-weight: 500;
    color: #bbbbbb;
    a {
      color: #dddddd;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .btt a {
    border-radius: 0px 20px 0 0;
    color: #999999;
    background: #222222;
    display: block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    position: absolute;
    right: 60px;
    top: -25px;
    transition: all 0.2s linear 0s;
    width: 50px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    &:hover {
      color: $primary;
    }
    i {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      margin-left: 3px;
    }
    @include for(screens-medium) {
      right: 0;
      left: 0;
    }
  }
}
