// main: style.scss

.sidebar .widget {
	margin-bottom: 40px;
	.widget-title {
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 13px;
		font-weight: 700;
	}
	ul {
		list-style: none;
		padding: 0px;
		&:after {
			clear: both;
		    content: ".";
		    display: block;
		    height: 0;
		    visibility: hidden;
		}
	}
	a {
		color: $text;
		font-size: 14px;
		&:hover {
			color: $primary;
			text-decoration: underline;
		}
	}
}

/* Search
------------------------------*/
.sidebar .widget .search-form{
	.search-field {
		width: 100% !important;
		@include rem('padding', 10px 15px);
	}
	.search-submit {
		padding: 12px 23px 12px;
		width: 93%;
	}
}

/* Recent Comment
------------------------------*/
.widget_recent_comments {
	ul {
		margin-top: 25px;
		li {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid $border;
		}
		a {
			font-style: italic;
		}
	}
	.comment-author-link a {
		font-weight: bold;
		font-style: normal;
	}
}

/* Recent Categories, Archive, Meta
------------------------------*/
.widget-area .widget_categories ul,
.widget-area .widget_archive ul,
.widget-area .widget_meta ul{
	@extend .clearfix !optional;
}


.widget-area .widget_categories li, .widget-area .widget_archive li, .widget-area .widget_meta li {
    float: left;
    margin-bottom: 0;
    width: 50%;
    @include for(small-screens) {
		width: 50%;
	}
	@include for(medium-screens) {
		width: 100%;
		float: none;
	}
    @include for(large-screens) {
		width: 50%;
		float: left;
	}
}

.widget_recent_entries {
	ul li {
		margin: 0px;
		padding: 10px 0px 10px 0px;
		border-bottom: 1px solid $border;
	}
}
