li#accordion-panel-onepress_options > .accordion-section-title,
li#accordion-panel-onepress_typo > .accordion-section-title
{
    padding-left: 14px;
}

.theme-action-count {
    padding: 0 6px;
    display: inline-block;
    background-color: #d54e21;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 1px 0 0 2px;
    vertical-align: top;
    border-radius: 10px;
    z-index: 26;
}
.item-hidden, .tem-add_by {
    display: none;
}

.no-changeable .remove-btn-wrapper, .no-changeable .repeatable-actions { display: none !important; }

.list-repeatable .sortable-placeholder {
    height: 42px;
    display: block;
}
.list-repeatable li {
    margin-bottom: 0px;
    padding: 5px 0px 5px;
}
.list-repeatable .widget {
    margin-bottom: 0px;
}
.list-repeatable  .widget-top:after {
    clear: both; display: block; content: " ";
}
.list-repeatable .widget .widget-title-action .widget-action {
    text-decoration: none;
    position: relative;
    font-size: 16px;
    top: 12px;
    outline: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.list-repeatable .widget .widget-title-action .widget-action::after{
    content: "\f140";
    font-family: "dashicons";
}

.list-repeatable .widget.explained .widget-title-action .widget-action::after{
    content: "\f142";
}


.list-repeatable .widget .widget-inside{
    display: none;
}
.list-repeatable .widget.explained .widget-inside{
    display: block;
}
.list-repeatable .wp-picker-holder {
    z-index: 99;
}
.list-repeatable .wp-picker-container.wp-picker-active label{
    display: inline-block;
}
.list-repeatable .item{
    margin-bottom: 15px;
}
.list-repeatable .item:first-child{
    margin-top: 15px;
}
.list-repeatable .item label {
    display: block;
    margin-bottom: 10px;
}
.list-repeatable .item label.field-label {
    font-weight: bold;
    margin-bottom: 5px;
}
.list-repeatabl input:not([type='radio']),
.list-repeatabl input:not([type='checkbox']),
.list-repeatable .item select,
.list-repeatable .item textarea {
    width: 100%;
}

.list-repeatable .item-media .actions , .repeatable-actions{
    text-align: right;
    margin-top: 10px;
}

.list-repeatable .thumbnail-image {
    margin-bottom: 10px;
}
.list-repeatable .thumbnail-image img {
    width: 100%;
    height: auto;
}

/* Special element */
.repeatable-customize-control.show-display-field-only .widget-content .item:not(.item-show_section){
    display: none !important;
}

/*
.section-videolightbox .item-bg_video,
.section-videolightbox .item-bg_video,
.section-videolightbox .item-bg_video_webm,
.section-videolightbox .item-enable_parallax,
.section-videolightbox .item-bg_video_ogv {
    display: none;
}
*/

.repeatable-customize-control.show-display-field-only .widget-content .item.item-show_section{
    display: block;
    margin-top: 15px;
}
.accordion-section-title .onepress-notice {
    font-size: 10px;
    text-transform: uppercase;
    float: right;
    margin-right: 25px;
    line-height: 16px;
    margin-top: 3px;
    display: inline-block;
    font-weight: normal;
    background: #D54E21;
    color: #ffffff;
    padding: 0px 5px;
}

/* Editor customize */
body .wp-full-overlay{
    z-index: 9999;
}

.wp-js-editor-active textarea, .onepress-editor-added textarea{
    display: none;
}

.wp-js-editor-preview {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #32373c;
    outline: 0 none;
    -webkit-transition: border-color 50ms ease-in-out 0s;
    transition: border-color 50ms ease-in-out 0s;
    min-height: 150px;
    display: block;
    padding: 2px 6px;
}
.wp-js-editor-preview.wpe-focus {
    border-color: #5b9dd9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
}
.wp-js-editor-preview {
    cursor: pointer;
}
.wp-js-editor-preview img {
    max-width: 100%;
    height: auto;
}
.modal-wp-js-editor * {
    box-sizing: border-box;
}
.modal-wp-js-editor {
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    top: auto;
    bottom: 0px;
    height: 350px;
    max-height: 100%;
    background: #EEEEEE;
    padding: 15px;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;

    -ms-transform: translateY(100%); /* IE 9 */
    -webkit-transform: translateY(100%); /* Safari */
    transform: translateY(100%);
}
.modal-wp-js-editor .fullscreen-wp-editor span:before {
    content: "\f211";
    font-family: "dashicons";
}
.modal-wp-js-editor.fullscreen .fullscreen-wp-editor span:before {
    content: "\f506";
    font-family: "dashicons";
}
.modal-wp-js-editor.fullscreen {
    height: 100%;
}
.modal-wp-js-editor .wp-editor-wrap {
    height: 100%;
    display: block;
}
.modal-wp-js-editor.wpe-active {
    -ms-transform: translateY(0); /* IE 9 */
    -webkit-transform: translateY(0); /* Safari */
    transform: translateY(0);
}

.modal-wp-js-editor textarea {
    width: 100%;
    display: block;
}
.wp-switch-editor.close-wp-editor {
    color: #e34113;
}

@media (max-width: 700px) {
    .modal-wp-js-editor {
        z-index: 99999;
        border-top: 1px solid #ddd;
        border-right: 0 none !important;

        -ms-transform: translateX(0); /* IE 9 */
        -webkit-transform: translateX(0); /* Safari */
        transform: translateX(0);

        -ms-transform: translateY(100%); /* IE 9 */
        -webkit-transform: translateY(100%); /* Safari */
        transform: translateY(100%);

    }
    .modal-wp-js-editor.wpe-active {
        -ms-transform: translateY(0); /* IE 9 */
        -webkit-transform: translateY(0); /* Safari */
        transform: translateY(0);

    }

}


/* COLOR PICKER ALPHA */

/**
 * Alpha Color Picker CSS
 */

.customize-control-alpha-color .wp-picker-container .iris-picker {
    border-bottom:none;
}

.customize-control-alpha-color .wp-picker-container {
    max-width: 257px;
}

.customize-control-alpha-color .wp-picker-open + .wp-picker-input-wrap {
    width: 100%;
}

.customize-control-alpha-color .wp-picker-input-wrap input[type="text"].wp-color-picker.alpha-color-control {
    float: left;
    width: 195px;
}

.customize-control-alpha-color .wp-picker-input-wrap .button {
    margin-left: 0;
    float: right;
}

.wp-picker-container .wp-picker-open ~ .wp-picker-holder .alpha-color-picker-container {
    display: block;
}

.alpha-color-picker-container {
    border: 1px solid #dfdfdf;
    border-top: none;
    display: none;
    background: #FFF;
    padding: 0 11px 10px;
    position: relative;
}

.alpha-color-picker-container .ui-widget-content,
.alpha-color-picker-container .ui-widget-header,
.alpha-color-picker-wrap .ui-state-focus {
    background: transparent;
    border: none;
}

.alpha-color-picker-wrap a.iris-square-value:focus {
    box-shadow: none;
}

.alpha-color-picker-container .ui-slider {
    position: relative;
    z-index: 1;
    height: 24px;
    text-align: center;
    margin: 0 auto;
    width: 88%;
    width: calc( 100% - 28px );
}

.alpha-color-picker-container .ui-slider-handle,
.alpha-color-picker-container .ui-widget-content .ui-state-default {
    color: #777;
    background-color: #FFF;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
    position: absolute;
    z-index: 2;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-top: -2px;
    top: 0;
    height: 26px;
    width: 26px;
    cursor: ew-resize;
    font-size: 0;
    padding: 0;
    line-height: 27px;
    margin-left: -14px;
}

.alpha-color-picker-container .ui-slider-handle.show-opacity {
    font-size: 12px;
}

.alpha-color-picker-container .click-zone {
    width: 14px;
    height: 24px;
    display: block;
    position: absolute;
    left: 10px;
}

.alpha-color-picker-container .max-click-zone {
    right: 10px;
    left: auto;
}

.alpha-color-picker-container .transparency {
    height: 24px;
    width: 100%;
    background-color: #FFF;
    background-image: url(../images/transparency-grid.png);
    box-shadow: 0 0 5px rgba(0,0,0,0.4) inset;
    border-radius: 3px;
    padding: 0;
    margin-top: -24px;
}

@media only screen and (max-width: 782px) {
    .customize-control-alpha-color .wp-picker-input-wrap input[type="text"].wp-color-picker.alpha-color-control {
        width: 184px;
    }
}

@media only screen and (max-width: 640px) {
    .customize-control-alpha-color .wp-picker-input-wrap input[type="text"].wp-color-picker.alpha-color-control {
        width: 172px;
        height: 33px;
    }
}


/* Customizer ICON Picker */
.icon-wrapper {
    border: 1px solid #cccccc;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    cursor: pointer;
}
.icon-wrapper i:before {
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px !important;
}
.c-icon-picker *{
    box-sizing: border-box;
}
.c-icon-picker {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: block;
    width: 300px;
    background: #EEEEEE;
    border-right: 1px solid #ddd;

    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;

    -ms-transform: translateX(-100%); /* IE 9 */
    -webkit-transform: translateX(-100%); /* Safari */
    transform: translateX(-100%);
}
.c-icon-picker.ic-active {
    -ms-transform: translateX(0); /* IE 9 */
    -webkit-transform: translateX(0); /* Safari */
    transform: translateX(0);
}
.c-icon-type {

}
.c-icon-type-wrap {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
}
.c-icon-type-wrap select {
    height: 30px;
    width: 100%;
}
.c-icon-search {
    position: absolute;
    top: 44px;
    left: 10px;
    right: 10px;
}
.c-icon-search input {
    width: 100%;
    height: 25px;
}
.c-icon-list {
    position: absolute;
    top: 75px;
    left: 0px;
    right: 0px;
    bottom: 10px;
    padding: 0 8px 0;
    overflow: auto;

}
.c-icon-list:after {
    clear: both; display: block; content: " ";
}
.c-icon-list i {
    font-size: 20px;
    line-height: 35px;
    color: #333333;
}
.c-icon-list span {
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    background: #ffffff;
    text-align: center;
    margin: 2px;
    cursor: pointer;
}
.c-icon-list span:hover {
    background: #e86240;
}
.c-icon-list span:hover i {
    color: #ffffff;
}
.icon-wrapper.icon-editing {
    background: #f5f5f5;
    box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
    border-color: #5b9dd9;
}

@media (max-width: 700px) {
    .c-icon-picker {
        z-index: 99999;
        width: 100%;
        top: 50%;
        left: 0px;
        border-top: 1px solid #ddd;
        border-right: 0 none !important;

        -ms-transform: translateX(0); /* IE 9 */
        -webkit-transform: translateX(0); /* Safari */
        transform: translateX(0);

        -ms-transform: translateY(100%); /* IE 9 */
        -webkit-transform: translateY(100%); /* Safari */
        transform: translateY(100%);

    }
    .c-icon-picker.ic-active {
        -ms-transform: translateY(0); /* IE 9 */
        -webkit-transform: translateY(0); /* Safari */
        transform: translateY(0);

    }

}


#customize-controls .control-section-onepress-plus .accordion-section-title:hover,
#customize-controls .control-section-onepress-plus .accordion-section-title:focus {
    background-color: #fff;
}

#customize-controls #accordion-section-onepress_order_styling_preview .accordion-section-title {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFBAMAAAB/QTvWAAAAG1BMVEXw8fTw8vTx8vTy9PXz9Pb09fb09ff5+vv///+y0VPXAAAAHElEQVR42mOo6Ehg6GgyYOhgaWBo9GhgCO1oAAA/NgZNWnETxAAAAABJRU5ErkJggg==');
    background-repeat: repeat;
}
#customize-controls #accordion-section-onepress_order_styling_preview .accordion-section-title:after {
    content: "\f160";
}


.control-section-onepress-plus .accordion-section-title .button {
    margin-top:  -4px;
    font-weight: 400;
    margin-left: 8px;
}

.rtl .control-section-onepress-plus .accordion-section-title .button {
    margin-left:  0;
    margin-right: 8px;
}
/* OnePress Plus section */
#customize-controls #accordion-section-onepress-plus {
	border-top: 1px solid #ca4a1f;
	border-bottom: 1px solid #ca4a1f;
}
#customize-controls #accordion-section-onepress-plus h3 {
	margin: 0;
	position: relative;
}
#customize-controls #accordion-section-onepress-plus h3 a {
	padding: 10px 10px 11px 14px;
	line-height: 20px;
	display: block;
	background: #ffffff;
	color: #ca4a1f;
	text-decoration: none;
	position: relative;
}
#customize-controls #accordion-section-onepress-plus h3 a:hover {
	background: #f5f5f5;
}
#customize-controls #accordion-section-onepress-plus h3 a:after {
	content: "\f345";
	position: absolute;
	color: #ca4a1f;
	top: 11px;
	right: 10px;
	z-index: 1;
	float: right;
	border: none;
	background: none;
	font: normal 20px/1 dashicons;
	speak: none;
	display: block;
	padding: 0;
	text-indent: 0;
	text-align: center;
}

.onepress-c-heading {
    padding: 5px 12px;
    background: #BBBBBB;
    margin: 10px -12px 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
}
/* MISC control */
.customize-control-heading .customize-control-title{
    margin: 0 -12px;
    padding: 5px 12px;
    background: #ccc;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
}

.repeatable-customize-control.visibility-hidden {
    height: 0px !important;
    display: block !important;
    overflow: hidden !important;
    box-shadow: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

.onepress-customizer-notice {
	background: rgb(254, 247, 241);
    color: rgb(51, 51, 51);
    padding: 10px;
    border-left: 4px solid rgb(213, 78, 33);
    display: block;
    margin-bottom: 20px;
}
