.theme-action-count {
    padding: 0 6px;
    display: inline-block;
    background-color: #d54e21;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 1px 0 0 2px;
    vertical-align: top;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 26;
}


.no-changeable .remove-btn-wrapper, .no-changeable .repeatable-actions { display: none !important; }

.list-repeatable .sortable-placeholder {
    height: 42px;
    display: block;
}
.list-repeatable li {
    margin-bottom: 0px;
    padding: 5px 0px 5px;
}
.list-repeatable .widget {
    margin-bottom: 0px;
}
.list-repeatable  .widget-top:after {
    clear: both; display: block; content: " ";
}

.list-repeatable .explained .widget-title-action .widget-action::after{
    content: "\f142";
}
.list-repeatable .widget .widget-inside{
    display: none;
}
.list-repeatable .widget.explained .widget-inside{
    display: block;
}
.list-repeatable .wp-picker-holder {
    position: absolute;
    z-index: 99;
}
.list-repeatable .item{
    margin-bottom: 15px;
}
.list-repeatable .item:first-child{
    margin-top: 15px;
}
.list-repeatable .item label {
    display: block;
    margin-bottom: 10px;
}
.list-repeatable .item label.field-label {
    font-weight: bold;
    margin-bottom: 5px;
}
.list-repeatabl input:not([type='radio']),
.list-repeatabl input:not([type='checkbox']),
.list-repeatable .item select,
.list-repeatable .item textarea {
    width: 100%;
}

.list-repeatable .item-media .actions , .repeatable-actions{
    text-align: right;
    margin-top: 10px;
}

.list-repeatable .thumbnail-image {
    margin-bottom: 10px;
}
.list-repeatable .thumbnail-image img {
    width: 100%;
    height: auto;
}

/* Special element */
.repeatable-customize-control.show-display-field-only .widget-content .item{
    display: none;
}
.section-videolightbox .item-bg_video,
.section-videolightbox .item-bg_video,
.section-videolightbox .item-bg_video_webm,
.section-videolightbox .item-enable_parallax,
.section-videolightbox .item-bg_video_ogv{
    display: none;
}

.repeatable-customize-control.show-display-field-only .widget-content .item.item-show_section{
    display: block;
    margin-top: 15px;
}
.accordion-section-title .onepress-notice {
    font-size: 10px;
    text-transform: uppercase;
    float: right;
    margin-right: 25px;
    line-height: 16px;
    margin-top: 3px;
    display: inline-block;
    font-weight: normal;
    background: #D54E21;
    color: #ffffff;
    padding: 0px 5px;
}

